@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --sat: env(safe-area-inset-top);
  --sab: env(safe-area-inset-bottom);
  color-scheme: light dark;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  @apply bg-slate-50 text-slate-900 dark:bg-slate-950 dark:text-slate-100;
  @apply transition-colors duration-300; /* Smooth global transition */
  
  /* Handle Safe Areas for iPhone X+ */
  padding-top: var(--sat);
  padding-bottom: var(--sab);
  overscroll-behavior: none; /* Disables pull-to-refresh effect */
  -webkit-tap-highlight-color: transparent;
}
