@import "tailwindcss";

:root {
  --sat: env(safe-area-inset-top);
  --sab: env(safe-area-inset-bottom);
}

body {
  background-color: #f8fafc; /* Slate 50 */
  /* Handle Safe Areas for iPhone X+ */
  padding-top: var(--sat);
  padding-bottom: var(--sab);
  overscroll-behavior: none; /* Disables pull-to-refresh effect */
  -webkit-tap-highlight-color: transparent;
}
